/*Fonts*/
@import "http://webfonts.ru/import/roboto.css";
/*font-family: 'Roboto';*/
/*Color*/
/*Size*/
/*Body*/
/* line 22, ../sass/main.scss */
h1 {
  font-family: 'Museo Sans Cyrl 900';
  font-size: 50px; }

/* line 24, ../sass/main.scss */
h3 {
  font-family: 'Roboto';
  font-weight: 600; }

/* line 26, ../sass/main.scss */
h5 {
  font-family: 'Roboto';
  font-weight: 600; }

/* line 30, ../sass/main.scss */
a:hover {
  text-decoration: none; }

/*Header*/
/* line 40, ../sass/main.scss */
#header {
  background: url("../img/fon.jpg") no-repeat;
  background-position: 50% 0%;
  padding-bottom: 8.5em;
  max-height: 720px; }
  /* line 45, ../sass/main.scss */
  #header .navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 10px; }
  /* line 50, ../sass/main.scss */
  #header .navbar-default .navbar-nav > .active > a,
  #header .navbar-default .navbar-nav > .active > a:focus,
  #header .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #ff9500; }
  /* line 56, ../sass/main.scss */
  #header .navbar-default .navbar-nav > li > a {
    color: #252525;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 600; }
  /* line 62, ../sass/main.scss */
  #header .navbar-default .navbar-nav > li > a:focus, #header .navbar-default .navbar-nav > li > a:hover {
    color: #ff9500; }
  /* line 65, ../sass/main.scss */
  #header .navbar-default .navbar-collapse, #header .navbar-default .navbar-form {
    margin-top: 20px; }
  /* line 68, ../sass/main.scss */
  #header .head {
    margin-top: 110px; }
    /* line 70, ../sass/main.scss */
    #header .head .name-s {
      margin-top: 16px;
      padding: 0px 63px 10px 37px;
      background-color: rgba(0, 0, 0, 0.87);
      display: inline-block; }
      /* line 75, ../sass/main.scss */
      #header .head .name-s h1 {
        color: #fda015; }
        /* line 77, ../sass/main.scss */
        #header .head .name-s h1 span {
          color: #eaeaea; }
    /* line 82, ../sass/main.scss */
    #header .head .forma {
      background-color: rgba(0, 0, 0, 0.87);
      padding: 29px 43px 25px; }
      /* line 85, ../sass/main.scss */
      #header .head .forma h3 {
        color: #fff;
        font-size: 23px;
        margin-bottom: 18px; }
        /* line 89, ../sass/main.scss */
        #header .head .forma h3 span {
          color: #fda015;
          font-size: 23px; }
      /* line 94, ../sass/main.scss */
      #header .head .forma .op {
        margin-top: 30px; }
        /* line 96, ../sass/main.scss */
        #header .head .forma .op p {
          color: #fff;
          font-weight: 600; }
        /* line 100, ../sass/main.scss */
        #header .head .forma .op h3 {
          margin-top: 0px; }
      /* line 104, ../sass/main.scss */
      #header .head .forma .form-control {
        border-radius: 0px;
        height: 48px;
        border: 1px solid #d1d1d1;
        outline: none  !important; }
      /* line 110, ../sass/main.scss */
      #header .head .forma .btn {
        border-radius: 0px;
        background-color: #ffdd02;
        border-color: transparent !important;
        outline: none  !important; }

/* line 120, ../sass/main.scss */
#catalog {
  background: url("../img/catalog-fon.jpg") no-repeat;
  background-position: 50% 0%;
  height: 811px;
  margin-bottom: 3em; }
  /* line 125, ../sass/main.scss */
  #catalog h3 {
    font-family: 'Museo Sans Cyrl 900';
    margin-top: 39px;
    margin-bottom: 25px; }
  /* line 130, ../sass/main.scss */
  #catalog .box-c {
    margin-top: 10px; }
    /* line 132, ../sass/main.scss */
    #catalog .box-c a {
      color: #252525;
      text-decoration: none;
      -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out; }
      /* line 136, ../sass/main.scss */
      #catalog .box-c a .box-i {
        position: relative;
        height: 110px; }
        /* line 139, ../sass/main.scss */
        #catalog .box-c a .box-i img {
          position: absolute;
          bottom: 0px; }
      /* line 144, ../sass/main.scss */
      #catalog .box-c a p {
        margin-top: 25px;
        margin-bottom: 56px;
        font-weight: 600; }
    /* line 151, ../sass/main.scss */
    #catalog .box-c:hover a {
      color: #fda015; }

/* line 158, ../sass/main.scss */
#preim {
  background: url("../img/preim-fon.jpg") no-repeat;
  background-position: 50% 0%;
  padding-bottom: 4em; }
  /* line 162, ../sass/main.scss */
  #preim h3 {
    font-family: 'Museo Sans Cyrl 900';
    margin-top: 39px;
    margin-bottom: 25px;
    color: #fff; }
  /* line 168, ../sass/main.scss */
  #preim .box-ico {
    margin-bottom: 3em; }
    /* line 170, ../sass/main.scss */
    #preim .box-ico .box-i {
      height: 70px;
      margin-top: 50px;
      position: relative; }
      /* line 174, ../sass/main.scss */
      #preim .box-ico .box-i img {
        bottom: 0px; }
    /* line 178, ../sass/main.scss */
    #preim .box-ico h5 {
      color: #fff;
      font-size: 18px; }
  /* line 183, ../sass/main.scss */
  #preim .btn-warning {
    height: 50px;
    background-color: #ffdd02;
    color: #252525;
    text-shadow: 1px 0px 1px rgba(37, 37, 37, 0.6);
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0px; }

/* line 196, ../sass/main.scss */
#partner {
  margin-bottom: 3em; }
  /* line 198, ../sass/main.scss */
  #partner h3 {
    font-family: 'Museo Sans Cyrl 900';
    margin-top: 39px;
    margin-bottom: 25px; }

/*# sourceMappingURL=main.css.map */